{% extends 'base.html' %}

{% block extra_css %}

    <style>
        .team-list {
            list-style: none;
            padding: 0;
        }
        .team-list li {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
        
    </style>
{% endblock %}

{% block content %}
</head>
<body>
    <h1>Team Members</h1>
    <!-- Display the number of team members -->
    <h3> You have {{ team_members|length }} team members. </h3>
    
    <ul class="team-list">
        {% for member in team_members %}
        <li>
            <span>
                <strong>{{ member.first_name }} {{ member.last_name }}</strong>
                <!-- Labels admin  -->
                {% if member.role == 'admin' %}
                    (Admin)
                {% endif %}
                <br>
                Email: {{ member.email }}<br>
                Phone: {{ member.phone_number }}<br>
            </span>
            <a href="{% url 'edit_team_member' member.id %}" class="edit-button">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_team_member' %}" class="add-button"> Add Team Member</a>
</body>
</html>
{% endblock %}